.custom-header {
    position: relative;
    background-color: #f6f3f0;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row-CTA {
    background-color: #ffd979;
    text-align: center;
    width: 100%;
}

.CTA-text {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    color: #9178e4;
    font-family: Arial, serif;
    margin-top: 12px;
}

.CTA-text span {
    margin: 0 20px;
}

.CTA-text i {
    margin-right: 5px;
}

.navbar {
    width: 100%;
    background: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 60px;
    height: 90px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 30px;
}

.nav-link {
    color: #9178e4;
    font-weight: bold;
    font-family: sans-serif;
}

.nav-item {
    margin: 0 5px;
}

.logo img {
    position: absolute;
    bottom: 0;
    width: 500px;
    left: 0;
}

@media (max-width: 768px) {
    .logo img { width: 200px; }
    .navbar { padding-right: 5px; }
    .navbar-nav {
        flex-direction: column;
        max-width: 200px;
        padding-right: 0;
    }
    .navbar-nav .nav-item {
        margin: 5px 0;
        padding-left: 5px;
    }
    .navbar-toggler { border-color: #000; }
}
