.custom-header {
    position: relative;
    background-color: #f6f3f0;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.row-CTA {
    background-color: #ffd979;
    text-align: center;
    width: 100%;
}

.CTA-text {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    color: #9178e4;
    font-family: Arial, serif;
    margin-top: 12px;
}

.CTA-text span {
    margin: 0 20px;
}

.CTA-text i {
    margin-right: 5px;
}

.navbar {
    width: 100%;
    background: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 60px;
    height: 90px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 10px;
}

.nav-link {
    color: #9178e4;
    font-weight: bold;
    font-family: sans-serif;
}

.nav-item {
    margin: 0 5px;
}

.logo img {
    position: absolute;
    bottom: 0;
    width: 500px;
    left: 0;
}

.h1 {
    font-family: Arial, serif;
    color: #9178e4;
    font-size: 35px;
    margin: 10px 0;
    text-align: center;

}

.custom-link {
    font-family: Arial, serif;
    width: 20%;
    color: #9178e4;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px 0;
    text-align: left
}

.custom-link i {
    margin-left: 8px;
}

.col-12 {
    width: 100%;
    background: #ffd979;
    margin-top: 60px ;
    margin-bottom: 40px;
}

.h2 {
    color: #9178e4;
    font-family: Arial, serif;
    font-size: 20px;
    margin: 5px;
}

.custom-link:hover {
    color: #000000;
}

@media (max-width: 768px) {
    .logo img { width: 200px; }
    .navbar { padding-right: 5px; }
    .navbar-nav {
        flex-direction: column;
        max-width: 200px;
        padding-right: 0;
    }
    .navbar-nav .nav-item {
        margin: 5px 0;
        padding-left: 5px;
    }
    .navbar-toggler { border-color: #000; }
}
.card {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.form-page h1.w-100 {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    color: #9178e4;
    font-family: Arial, serif;
    font-weight: bold;
    margin-top: 12px;
    background-color: #ffd979;
    text-align: center;
    width: 100%;
    height: 100px;

}

.form-page .btn-outline-primary {
    background-color: #ffd979;
    color: #9178e4;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight:bold;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.form-page .btn-outline-primary:hover {
    background-color: #9178e4;
    transform: scale(1.05);
    color: #ffd979;
}

.form-page .btn-outline-primary:focus {
    outline: none; /* Remove outline on focus */
}

.label-colour {
    color: #9178e4;
}

.btn {
    color: white;
    background-color: #9178e4;
}

#btn2:hover {
    background-color: #ffd979;
}

.title-container {
    height: 7rem;
}

.card-title {
    font-size: 16px;
}

.btn {
    color: white;
    background-color: #9178e4;
}

#btn2:hover {
    background-color: #ffd979;
}

.title-container {
    height: 7rem;
}

.card-title {
    font-size: 16px;
}
